@use 'abstracts/abstracts' as *;
@import 'reset';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $black;
}

.wrapper {
    position: relative;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: absolute;
    top: $base-spacing;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $base-spacing;
    color: $white;
    margin: 0 $base-spacing;
    font-family: fantasy;
}